* {
    box-sizing: border-box;
    font-family: 'Neuton', serif;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
    width: 100vw;
}

.background-container{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    padding-top: 100px;
}
  
.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}
  
.twinkling{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
      
}
  
.clouds{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
}

#backgroundgImg {
    height: 70vh;
    width:70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
}
  
@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
  
@-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
}
  

header {
    display: flex;
	align-items: center;
	justify-content: center;
	top:0pt;
	left: 0pt;
	right: 0pt;
	height: 100px;
    z-index: 1;
    position: absolute;
}

h1 {
    color: seashell;
    font-size: 40px;
}

.boxAboutMe  {
    width: 100vw;
    height: 1400px;
}


.boxAboutMeCV  {
    width: 100vw;
    height: 1170px;
}

.boxAboutMeCourses {
    width: 100vw;
    height: 1100px;
}

#OmMig {
    margin-top: 180px;
    width: 597px;
    display: flex;
    flex-direction: column;
    border: 5px;
    align-items: center;
    padding-left: 115px;
    color: seashell;
    z-index: 1;
    position: absolute;
    font-size: 16px;
}

img {
    height: 360px;
    width: auto;
    border-radius: 50px;
}

.personInfo {
    content: "";
    display: inline-block;
    width: 100%;
    color: seashell;
}

@media screen and (max-width: 992px) {
    .boxAboutMe {
        display: flex;
        justify-content: center;
    }
    #OmMig {
        padding-left: 0;
    }
    #Courses {
        padding-left: 0px;
        width: 90vw;
    }
    ul {
        padding-inline-start: 0px;
    }
    h1 {
        font-size: 30px;
    }
    #OmMig {       
        margin-left: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
  }
  
  @media screen and (min-width: 1660px) {
    #OmMig {
        padding-left: 150px;
        margin-left: 230px;
    }
  }

  @media screen and (max-width: 640px) {
    .boxAboutMe {
        display: flex;
        justify-content: center;
    }
    
    #OmMig {
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 10px;
        width: 90vw;
    }

    .headerText {
        font-size: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }    
    
    #Mig {
        height: 80%;
        width: 80%;
    }
  }

  #Courses {
    margin-top: 150px;
    width: 850px;
    display: flex;
    flex-direction: column;
    border: 5px;
    align-items: center;
    padding-left: 80px;
    color: seashell;
    z-index: 1;
    position: absolute;
    font-size: 16px;
    font-family: 'Neuton', serif;
}

a {
    color: seashell;
    font-family: 'Neuton', serif;
}

p {
    color: seashell;
}

.merits {
    font-size: 20px;
    justify-content: center;
    left: 50%;
}

.emptySpace {
    height: 70px;
}


footer {
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    border-top: groove;
    border-color: seashell;
    vertical-align: middle;
}
  
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
