* {
    box-sizing: border-box;
    font-family: 'Neuton', serif;
    color: seashell;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
    
}

ul {
    font-size: 18px;
    line-height: 1.5;
}

p, li {
    font-size: 22px;
    color: seashell;
}

.background-container{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    padding-top: 100px;
}
  
.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}
  
.twinkling{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
      
}
  
.clouds{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
}

#backgroundgImg {
    height: 70vh;
    width:70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
}
  
@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
  
@-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
}
  
footer {
    z-index: 1;
    height: 150px;
    width: 100%;
    position: relative;
    bottom: 0;
    border-top: groove;
    vertical-align: middle;
}

header {
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    
	top:0pt;
	left: 0pt;
	right: 0pt;
	height: 100px;
    z-index: 1;
    position: fixed;
}

h1 {
    font-size: 40px;
    }

.boxAboutMe  {
    
    z-index: 1;
}

.merits, .contact {
    outline: none;
    cursor: pointer;
}

.merits {
    font-size: 20px;
    justify-content: center;
    margin-top: 100px;
    }

a {
    font-size: 22px;
}

.boxAboutMeCV  {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    margin-top: 180px;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.boxAboutMeCourses {
    top: 20vh;
    height: 1100px;
    width: 100vw;
}

#Courses {
    margin-top: 150px;
    width: 850px;
    display: flex;
    flex-direction: column;
    border: 5px;
    align-items: center;
   
    color: seashell;
    z-index: 1;
    position: absolute;
    font-size: 16px;
    font-family: 'Neuton', serif;
}

#OmMig {
    margin-top: 180px;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 5px;
    align-items: center;
    color: seashell;
    z-index: 1;
    font-size: 16px;
    justify-content: space-between;
}

#OmMi {
    margin-top: 180px;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 5px;
    align-items: center;
    color: seashell;
    z-index: 1;
    font-size: 16px;
    justify-content: space-between;
}

.omMigText {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    height: 600px;
    width: auto;
    border-radius: 50px;
    margin-top: 40px;
}

#personInfo {
    content: "";
    display: inline-block;
    width: 100%;
    color: seashell;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
}

@media screen and (max-width: 992px) {
    .boxAboutMe {
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse
    }

    #Courses {
        padding-left: 0px;
        width: 90vw;
    }
    ul {
        padding-inline-start: 0px;
    }
    h1 {
        font-size: 30px;
    }
    #OmMig {       
        margin: 0px;
        margin-top: 50px;
        width: 80vw;
  }
  .personInfo {
      align-content: center;
  }
}
  
  @media screen and (max-width: 1125px) {
    .OmMig {
        width: 80%;
        flex-wrap: wrap-reverse
    }
    * {
        font-size: 18px !important;
    }
    h1 {
        font-size: 40px !important;
    }
    img {
        height: 500px;
    }
    .merits {
        height: 10px;
        margin: 0px;
    }
    #OmMi {
        margin-top: 180px;
        width: 80%;
  }
}

  @media screen and (max-width: 640px) {
    .boxAboutMe {
        display: flex;
        justify-content: center;
    }

    .boxAboutMeCV {
        margin-top: 120px;
    }

    .personInfo {
        margin: 0px;
    }
    
    img {
        height: 400px;
    }
    #OmMig {
        margin-top: 0% !important;
    }

    .headerText {
        font-size: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        ;
    }    
    
    #Mig {
        height: 80%;
        width: 80%;
    }
  }

  @media screen and (max-width: 550px) {
    h1 {
        font-size: 30px !important;
    }
  }
.emptySpace {
    height: 150px;
}


footer {
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    border-top: groove;
    vertical-align: middle;

}
  
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    gap: 20px
}
